:root {
  --btnDeg: 45deg;
}

/* a.primaryBtn i {
  position: absolute;
  inset: -2px;
  display: flex;
  border-radius: 5px;
} */

a.primaryBtn i,
a.primaryBtn i:nth-child(2) {
  background: linear-gradient(
    var(--btnDeg),
    #00ccff,
    #0e1538,
    #0e1538,
    #d400d4
  );
}
/* .primaryBtn i:nth-child(2) {
  filter: blur(10px);
} */
